/* PUP Custom - DU Theme */


.du-jobs-home header #main-menu-wrap a.logo {
    width: 376px;
	 margin-top: 11px;
}

@media screen and (min-width: 64em) {
  #main-menu-wrap a.logo img:first-of-type {
    width: 5rem; 


	} }



@media screen {
	
	 .is-stuck > div img{  
	 padding: 15px 15px 15px 15px; 
		 margin-top: -15px;
		 
			 }
	


       #main-menu-wrap a.logo.inline-site .site-name {
          font-family: "BreveText", sans-serif;
          font-size: 2.4rem;
          font-weight: 900;
          line-height: 1.3;
          letter-spacing: -.0324rem;
          margin-bottom: -.3rem;
          white-space: pre;
          word-wrap: normal; 
          margin-left: 5.9rem;
          width: 33rem;	
				 color: #18171e;	 
	
	} 
	
  .is-stuck .site-name {
		font-size: 2.2rem !important;;
}

}
        @media screen and (max-width: 600px) {
          #main-menu-wrap a.logo.inline-site .site-name {
            /*! font-size: 1.6rem; */ } }



@media screen and (max-width: 63.9375em){
header #main-menu-wrap > .row.expanded .columns.shrink .logo {
  float: none;
	/*! width: 4rem; */ 
  /*! margin-top: 15px; */
  margin: 1px px 0px 0px;
	}

	#main-menu-wrap a.logo.inline-site .site-name {
		margin-left: 3.5rem;
		margin-top:8px;
		
	}

	

}

@media screen {
a.logo.inline-site {
  display: flex;
  align-items: center;
  text-decoration: none;
}
}

 a.logo.inline-site .site-identity {
  display: flex;
  align-items: center;
  margin-top: -3.5rem; 
}
  @media screen and (max-width: 430px) {
 a.logo.inline-site .site-identity {
      margin-left: 8px; } }

@media screen and (max-width: 768px) {
 a.logo.inline-site .site-prefix {
    font-size: 14px; }
a.logo.inline-site .site-name {
    font-size: 23px; } }

@media screen and (max-width: 430px) {
  .off-canvas-wrap .header #main-menu-wrap a.logo.inline-site .site-prefix {
    font-size: 15px;
    letter-spacing: -0.1pt; }
  .off-canvas-wrap .header #main-menu-wrap a.logo.inline-site .site-name {
    font-size: 18px; } }

@media screen and (max-width: 330px) {
  .off-canvas-wrap .header #main-menu-wrap a.logo.inline-site .site-prefix {
    font-size: 14px; }
  .off-canvas-wrap .header #main-menu-wrap a.logo.inline-site .site-name {
    font-size: 16px; } }

.off-canvas-wrap .header #main-menu-wrap a.logo.inline-site .site-name {
  font-size: 1.6rem; }
  @media screen and (min-width: 48em) {
    .off-canvas-wrap .header #main-menu-wrap a.logo.inline-site .site-name {
      font-size: 2.2rem;
      white-space: break-spaces; } }
  @media screen and (min-width: 75em) {
    .off-canvas-wrap .header #main-menu-wrap a.logo.inline-site .site-name {
      font-size: 2.4rem; } }



.du-jobs-home header.unit-header {
	height: auto;
	min-height: 375px;
	padding-bottom: 100px;
}
.du-jobs-home header.unit-header::after {
    border-left: 40px solid transparent;
    right: 0;
    margin-left: 40px;
}
.du-jobs-home header.unit-header::before, .du-jobs-home header.unit-header::after {
    content: "";
    width: 50%;
    border-bottom: 40px solid #fff;
    position: absolute;
    bottom: 0;
    height: 40px;
}
.du-jobs-home header.unit-header::before {
    border-right: 40px solid transparent;
    left: 0;
    margin-right: 40px;
}

.du-jobs-home header.unit-header .hero-media::before {
	background-color: transparent;
	background-color: rgba(35,31,32,0.38);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;	
}

.du-jobs-home .pup-search-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 400px;
}

.du-jobs-home .pup-search-wrapper .pup-search-hero-title {
	font-family: "BreveSans", sans-serif;
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

.du-jobs-home .pup-search-wrapper .pup-search-hero-title p {
	font-family: "BreveSans", sans-serif;
	font-size: 1.33333rem;
	font-weight: 400;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}
.du-jobs-home .pup-search-wrapper .pup-search-hero-title .pup-tagline {
	font-family: "BreveSlabTitle", sans-serif;
	font-size: 4.33333rem;
	font-weight: 400;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	line-height: 0.9em;
}
.du-jobs-home .pup-tagline  .tag-light {
	font-weight: 400;
}
.du-jobs-home .pup-tagline  .tag-bold {
	font-weight: 600;
}
.du-jobs-home .pup-tagline  .tag-bolder {
	font-weight: 900;
}

.du-jobs-home .pup-search-wrapper  .pup-search-custom {
	max-width: 50%;
	width: 50%;
	padding-top: 35px;
}
.du-jobs-home .pup-search-wrapper  .pup-search-custom #search-keyword {
	display: block;
	width: 100%;	
	height: auto;
	margin: 0 0 0.88889rem;
	padding: 0.44444rem;
	border: 1px solid #cacaca !important;
	border-radius: 0;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);	
	color: #525252;
	background-image: none !important;
	padding: 0.75rem 1.5rem !important;
	font-size: 1.25rem !important;
}

.du-jobs-home .pup-container .pup-filter h2 {	
	font-family: "BreveSans", sans-serif;
	font-size: 1.33333rem;	
	text-transform: uppercase;
}
.du-jobs-home #sub-menu-toggler > a {
	text-transform: uppercase;	
}
.du-jobs-home .pup-container .pup-search, .pup-container .pup-filter {
	padding-top: 15px;
	padding-bottom: 15px;
}
.du-jobs-home .pup-container #search-keyword {
	display: block;
	width: 100%;	
	height: 2.16667rem;
	margin: 0 0 0.88889rem;
	padding: 0.44444rem;
	border: 1px solid #cacaca !important;
	border-radius: 0;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);	
	color: #525252;
	background-image: none !important;
	padding: 8px !important;
}
.du-jobs-home .pup-search-custom .pup-nav-custom {
	width: 100%;
	text-align: center;
}

#callout {
  background-color: #fff;
  padding: 18px;
  font-size: 11pt;
  margin: 25px 25px 0 25px;
  opacity: 90%;
  border: 1px white solid;
  border-radius: 15px;
}

.du-jobs-home .pup-search-custom .pup-nav-custom .btn, .pup-search-custom .pup-nav-custom a.btn  {
	background-color: transparent !important;
	font-family: "BreveSans", sans-serif;
}
.du-jobs-home .pup-search-custom .pup-nav {
	display: inline-block !important;
}
.du-jobs-home .pup-search-custom .pup-nav a:hover {
	text-decoration: underline;	
}
.du-jobs-home .pup-search-custom .pup-nav.pup-nav-login::before {
	content:'\e807';
	font-size: 16px;
	color: #fff;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.du-jobs-home .pup-search-custom .pup-nav.pup-nav-login  {
	padding: 0 1.2%;	
}
.du-jobs-home .pup-search-custom .pup-nav.pup-nav-login .btn, .pup-search-custom .pup-nav.pup-nav-login a.btn {
	padding-left: 0px;
	padding-right: 0px;
}

.du-jobs-home .pup-search-custom .pup-nav.pup-nav-alerts::before {
	content:'\e810';
	font-size: 16px;
	color: #fff;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.du-jobs-home .pup-search-custom .pup-nav .btn.display-block, .pup-search-custom .pup-nav a.btn.display-block {
	display: inline-block;
}

.du-jobs-home .pup-search-custom .pup-nav.pup-nav-alerts {
	padding: 0 1.2%;	
}
.du-jobs-home .pup-search-custom .pup-nav.pup-nav-alerts .btn, .pup-search-custom .pup-nav.pup-nav-alerts a.btn {
	padding-left: 0px;
	padding-right: 0px;
}
.pup-search-custom .pup-nav.pup-nav-alerts a.job-mail-subscribe-link{
	padding: 0 !important;
	border: none !important;
	border-color: transparent !important;
	background-color: transparent !important;
	background-image: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: none !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	color: #fff !important;
	font-weight: initial !important;
	vertical-align: initial !important;
	font-size: 16px !important;
	
}
.du-jobs-home .pup-container #search-filters > h3 {
	/* background-color: #eee; */
	border-bottom: 1px solid #e0e0e0;
	color: #444;
	/* cursor: pointer; */
	padding: 18px 10px;
	width: 100%;
	text-align: left;
	outline: none;
	font-size: 18px;
}
.du-jobs-home .pup-container #search-filters > h3.active{
	border-bottom: 1px solid transparent;
	transition: 0.4s;
}
/* Unicode character for "plus" sign (+) */
/* .du-jobs-home .pup-container #search-filters > h3::after {
	content: '\02795'; 
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
} */
/* Unicode character for "minus" sign (-) */
/* .du-jobs-home .pup-container #search-filters > h3.active::after {
	content: '\2796' !important; 
} */
.du-jobs-home .pup-container #search-filters  .filter-wrapper {
	padding: 0 18px;
	/* display: none !important; */
	background-color: white;
	overflow: hidden;
}
.du-jobs-home .pup-container #search-filters .filter-wrapper ul.filter input {
	float: none;
}
.du-jobs-home .pup-container #search-filters .filter-wrapper label {
	margin-left: 0.24444rem !important;
	margin-right: 0 !important;
}

.du-jobs-home .pup-results #recent-jobs h2{
	font-size: 1.77778rem
}
.du-jobs-home .pup-results table, .pup-results table th, .pup-results table tr, .pup-results table td {
	border-collapse: collapse;
	border: none;
}
.du-jobs-home .pup-results table tr.summary {
	background-color: transparent;
	padding-bottom: 25px;
}
.du-jobs-home .pup-results table thead {
	background-color: #e0dbce !important;
	color: #525252;
	border-bottom: 2px solid #e0dbce !important;
}
.du-jobs-home .pup-results table thead th{
	background-color: #e0dbce !important;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}
.du-jobs-home .pup-results table tr {
	background-color: #f9f9f9;
}
.du-jobs-home .pup-results #job-details table tr {
	background-color: transparent;
}
.du-jobs-home #jobs-form td {
    border-top: 1px solid #e0dbce;
}
.du-jobs-home .pup-results #job-details table tr td{
    border-top: 1px solid transparent;
}
.du-jobs-home form [type="radio"] + label, .du-jobs-home  form [type="checkbox"] + label {
	font-size: 16px;
	vertical-align: top;
}
.du-jobs-home .search-box > input[type="text"] {
    background-color: transparent !important;
	background-image: none !important;
    border-width: 0 0 4px 0 !important;
    border-color: #98012e !important;
    -webkit-box-shadow: none !important;
	font-size: 28px !important;
	padding-bottom: 2px !important;
	padding-right: 90px !important;
}
.du-jobs-home .pup-results table tr.summary td{
	padding-bottom: 55px !important;
}
.du-jobs-home .pup-results a.job-link {
	text-transform: uppercase;
}
.du-jobs-home .more-link {
	font-family: "Acto", sans-serif;
	text-decoration: none !important;
	color: white !important;
	background-color: #ac9147 !important;
	font-size: 16px !important;
	/* removed b/c causing issues w/ pagination 
	display: block !important;*/
	padding: 10px 20px !important;
	min-width: 155px !important;
	
	border-radius: 0px !important;
	border: none !important;
	border-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;
	line-height: inherit !important;
}
.du-jobs-home .more-link:hover {
	background-color: #8b6e4a !important;
}
.du-jobs-home #PageUpPeopleLink a { 
	font-size: initial;
	color: #2090ac;
}
.du-jobs-home #PageUpPeopleLink a:hover, #PageUpPeopleLink a:focus {
    color: #05637b;
}
.du-jobs-home .pup-search-wrapper  .pup-search-custom {
	max-width: 50%;
	width: 50%;
}

/* Job Content */
.du-jobs-home #job .button {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 1rem 0;
	padding: 0.85em 1em;
	-webkit-appearance: none;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	font-size: 0.9rem;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	background-color: #ac9147;
	color: #ffffff;
}


/* Media Queries */




@media all and (max-width: 63.9375em) {
	.du-jobs-home .pup-container .pup-filter h2 {
		display: none;
	}
}
@media all and (max-width: 600px) {
	.du-jobs-home header #main-menu-wrap a.logo {
	    width: 66px;
	    margin-left: 14px;
	}
}

@media all and (max-width: 1200px) {
	.du-jobs-home header #main-menu-wrap a.logo {
	    width: 66px;
	    margin-left: 14px;
	}
}

@media all and (max-width: 640px) {
	.du-jobs-home .pup-search-wrapper .pup-search-custom {
		max-width: 90%;
		width: 90%;
	}
	.du-jobs-home .pup-results table thead {
		display: none;	
	}
	.du-jobs-home .pup-results table tr td {
		display: block;	
		border: 1px solid transparent !important;
		padding: .25em 1em !important;
	}
	.du-jobs-home .pup-results table tr td:nth-child(1) {
		border-top: 1px solid #e0dbce !important;
	}
	.pup-results table tr td:nth-child(5)::before {
		content:"\2013";
		width: 1em;
		margin-right: .2em;
	}
	.du-jobs-home .pup-results table tr td:nth-child(4) {
		display: inline-block;
		padding-right: 0px !important;
	}
	.du-jobs-home .pup-results table tr td:nth-child(5) {
		display: inline-block;
		padding-left: 0px !important;
	}
	.du-jobs-home .pup-results table tr.summary td{
		border-top: 1px solid transparent !important;
	}
	.du-jobs-home .pup-results .more-link.button {
		width: 70%;
		text-align: center;
		margin: 0 auto;
	}	
	/* Job content */
	.du-jobs-home #job .back-link.button, #job .employee-referral-link.button, #job .apply-link.button {
		display: flex;
		align-content: center;
		justify-content: center;
	}
}
@media all and (max-width: 480px) {
	.du-jobs-home #recent-jobs-content tr{
		width: 100%;
	}
	.du-jobs-home .pup-search-wrapper .pup-search-hero-title .pup-tagline {
		font-size: 2.33333rem;	
	}
}

/* LOGIN BUTTON MODS */
.btn-login {
padding-left:30px;
padding-right: 10px;

}

a.btn-login-link {
background: lightgrey;
border: inset 12px solid red;
border-radius: 40px;



a.btn-login-link:hover {
	border: 2px solid #98012e !important;
	margin: 0 144px !important;
}