/*
Implementations Skeletor v3 - 5/10/2014

oustyles.css

Add styles to overwrite customer CSS, USE WITH CAUTION.

Contributors: Your Name Here
Last Updated: Enter Date Here
*/

#direct-edit a{
	color: #797979 !important;
	text-decoration: none !important;
}
/*
.ou-info{
	display: inline-block;
	color: #FFF;
	background-color: #5BB75B !important;
	padding: 2px 6px;
	margin: 3px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
*/

.ou-info{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	text-decoration: none !important;
	display: inline-block !important;
	/*cursor: not-allowed;*/
	padding: 2px 6px !important;
	margin-bottom: 0 !important;

	font-size: 13px !important;
	font-weight: normal !important;
	line-height: 18px !important;
	color: #FFF !important;
	text-align: left !important;
	vertical-align: middle !important;
	background-color: #2f254d !important;
	background-image: -moz-linear-gradient(top, #534779, #6d6191) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#534779, #6d6191)) !important;
	background-image: -webkit-linear-gradient(top, #534779, #6d6191) !important;
	background-image: -o-linear-gradient(top, #534779, #6d6191) !important;
	background-image: linear-gradient(to bottom, #534779, #6d6191) !important;
	background-repeat: repeat-x !important;
	border: 1px solid #bbbbbb !important;

	border-color: #e6e6e6 #e6e6e6 #bfbfbf !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
	border-bottom-color: #a2a2a2 !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}
